/* Variables */

$col-number:			12;
$grid-width:			100%;
$grid-padding:			10px;

$breakpoint-small:		"only screen and (min-width: 320px)";
$breakpoint-medium: 	"only screen and (min-width: 768px)";
$breakpoint-large: 		"only screen and (min-width: 1170px)";



/* Grid */

.grid-container {
	margin: auto;
	width: 100%;
	max-width: $grid-width;
}

.grid-container *{
	box-sizing: border-box;
}

.row:before, .row:after {
	content: "";
	display: table;
	clear: both;
}


[class*='col-'] {
	float: left;
	min-height: 1px;
	padding: $grid-padding;
	background: #cdcdcd;
	border: 1px #000 solid;
}

.wrapper {
	Width: 320px;
	margin: auto;
}

@for $i from 1 through 12 {
	
	.col-s-#{$i} {
		width: 100% / $col-number * $i;
	}

}

@media #{$breakpoint-medium} {
 
	@for $i from 1 through 12 {
		
		.col-m-#{$i} {
			width: 100% / $col-number * $i;
		}

	}

	.wrapper {
		Width: 768px;
		margin: auto;
	}
	 
}

@media #{$breakpoint-large} {
 
	@for $i from 1 through 12 {
		
		.col-l-#{$i} {
			width: 100% / $col-number * $i;
		}

	}

	.wrapper {
		Width: 1170px;
		margin: auto;
	}
	 
}